{% extends 'admin/panel.html' %} 
{% block main %}
	<div class="container py-5">
		<h1>Categories</h1>
		{% for category in categories %}
			<div class="row p-1">
				<h3>
					<form action="./editCategory" method="post" class="d-inline">
						<input type="text" name="category" value="{{category}}">
						<button type="submit" name="oldCategory" value="{{category}}">Update</button>
					</form>
					<form action="./removeCategory" method="post" class="d-inline"><button name="category" value="{{category}}">Del</button></form>
					<form action="./category" method="post" class="d-inline"><button name="category" value="{{category}}">Edit</button></form>
				</h3>
			</div>
		{% endfor %}
		<h3 class="row p-2">
			<form action="./addCategory" method="post">
				<input type="text" name="category">
				<button type="submit">Add</button>
			</form>
		</h3>
	</div>
{% endblock %} 