{% extends 'admin/panel.html' %} 
{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Charts</h1>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body bg-dark text-white">
				<h5 class="card-title">Active Users</h5>
				<p class="card-text">Insert chart</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body bg-dark text-white">
				<h5 class="card-title">Requests</h5>
				<p class="card-text">Insert chart</p>
			</div>
		</div>
	</div>
</div>
{% endblock %} 