{% set page = "panel" %}
{% extends '0Base.html' %} 
{% block head %} 
<link rel="stylesheet" href="../static/css/panel.css">
{% endblock %}
{% block title %} Panel {% endblock %} 
{% block body %}
<main>
	<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav class="col-md-2 d-none d-md-block sidebar py-4" id="sidebar">
        <h4 class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="./panel">
                <i class="fas fa-home"></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./categories">
                <i class="fas fa-cog"></i>
                Categories
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./charts">
                <i class="fas fa-chart-bar"></i>
                Charts
              </a>
            </li>
          </ul>
        </h4>
      </nav>

      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="main">
        {% block main %}
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="card bg-dark text-white">
                <div class="card-body">
                  <h5 class="card-title">Number of Users</h5>
                  <p class="card-text">{{noOfUsers}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card bg-dark text-white">
                <div class="card-body ">
                  <h5 class="card-title">Number of Records</h5>
                  <p class="card-text">{{noOfData}}</p>
                </div>
              </div>
            </div>
          </div>
        {% endblock %}
      </main>
    </div>
  </div>
</main>
{% endblock %} 