{% extends '0Base.html' %} 
{% block head %} {% endblock %} 
{% block title %} FAQ {% endblock %} 
{% block navBar %} {% endblock %} 
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-around">
        <div class="col-4">
            <h3>Total Users:</h3><br>
            {{noOfUsers}}
        </div>
        <div class="col-4">
            <h3>Total Data Count:</h3><br>
            {{noOfData}}
        </div>

    </div>
    <div class="container m-2">
        {% for category,fieldValue in categoriesAndFields.items() %}
        <div class="row">
            <form action="/admin/removeCategory" method="post">
                <h2>{{category}} 
                    <button type="submit" name="category" value="{{category}}">Del</button>
                </h2>
            </form>
            {% for field, (fieldId,defaultPrivacy) in fieldValue.items() %}
            <form action="/admin/removeField" method="post">
                <h4>{{field}} ({{dataTypes[revCategortyAndField[fieldId][2]]}})
                    --Default Privacy: 
                    {% if defaultPrivacy == 0 %} Public {% endif %}
                    {% if defaultPrivacy == 0 %} Private {% endif %}
                    {% if defaultPrivacy == 0 %} Anonymous {% endif %}
                    <input type="text" name="field" value="{{fieldId}}" hidden>
                    <button type="submit" name="category" value="{{category}}">Del</button>
                </h4>
            </form>
            {% endfor %}
            <form action="/admin/addField" method="post">
                <h4>
                    <input type="text" name="field">
                    <label for="newField-{{category}}">dataType</label>
                    <select name="dataType" id="newField-{{category}}">
                        {% for id,type in dataTypes.items()%}
                        <option value="{{id}}">{{type}}</option>
                        {% endfor %}
                    </select>
                    <input type="radio" name="privacy" value="0"> Public
                    <input type="radio" name="privacy" value="1"> Private
                    <input type="radio" name="privacy" value="2"> Anonymous
                    <button type="submit" name="category" value="{{category}}">Add</button>
                </h4>
            </form>
        </div>
        {% endfor %}

        <h2>
            <form action="/admin/addCategory" method="post">
                <input type="text" name="category">
                <button type="submit">Add</button>
            </form>
        </h2>
    </div>
</div>
{% endblock %} 
{% block foot %} {% endblock %}