{% set page = "panel" %}
{% extends '0Base.html' %} 
{% block title %} FAQ {% endblock %} 
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-around">
        <div class="col-4">
            <h2>Total Users:</h2><br>
            {{noOfUsers}}
        </div>
        <div class="col-4">
            <h2>Total Data Count:</h2><br>
            {{noOfData}}
        </div>

    </div>
    <div class="container m-2">
        {% for category,fieldValue in categoriesAndFields.items() %}
        <div class="row">
            <h3 class="my-3">
                <form action="./admin/editCategory" method="post" class="d-inline">
                    <input type="text" name="category" value="{{category}}">
                    <button type="submit" name="oldCategory" value="{{category}}">Update</button>
                </form>
                <form action="./admin/removeCategory" method="post" class="d-inline"><button name="category" value="{{category}}">Del</button></form>
            </h3>
            {% for field, (fieldId,defaultPrivacy) in fieldValue.items() %}
            <h4>
                <form action="./admin/editField/{{fieldId}}" method="post" class="d-inline">
                    <input type="text" name="field" value="{{field}}">
                    <label>dataType</label>
                    <select name="dataType">
                        {% for id,type in dataTypes.items()%}
                        <option value="{{id}}" {% if id==revCategortyAndField[fieldId][2] %} selected {% endif %} >{{type}}</option>
                        {% endfor %}
                    </select>
                    <input type="radio" name="privacy" value="0" {% if defaultPrivacy == 0 %} checked {% endif %}> Public
                    <input type="radio" name="privacy" value="1" {% if defaultPrivacy == 1 %} checked {% endif %}> Private
                    <input type="radio" name="privacy" value="2" {% if defaultPrivacy == 2 %} checked {% endif %}> Anonymous
                    <button type="submit">update</button>
                </form>
                <a href="./admin/removeField/{{fieldId}}"><button>Del</button></a>
            </h4>
            {% endfor %}
            <form action="./admin/addField" method="post">
                <h4>
                    <input type="text" name="field">
                    <label for="newField-{{category}}">dataType</label>
                    <select name="dataType" id="newField-{{category}}">
                        {% for id,type in dataTypes.items()%}
                        <option value="{{id}}">{{type}}</option>
                        {% endfor %}
                    </select>
                    <input type="radio" name="privacy" value="0"> Public
                    <input type="radio" name="privacy" value="1"> Private
                    <input type="radio" name="privacy" value="2"> Anonymous
                    <button type="submit" name="category" value="{{category}}">Add</button>
                </h4>
            </form>
        </div>
        {% endfor %}

        <h3>
            <form action="./admin/addCategory" method="post">
                <input type="text" name="category">
                <button type="submit">Add</button>
            </form>
        </h3>
    </div>
</div>
{% endblock %} 