#header-text{
	margin-top: auto;
	margin-bottom: auto;
}
#header-img{
	min-height: 600px;
	background-image: url("/static/img/headerimg.jpeg");
    background-size: cover;
    background-position: center;
}
body>header{
	background-color: var(--black);
}

.curved-top {
    position: relative;
    overflow: hidden;
}

.curved-top::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust the height of the curve */
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: var(--black1); /* Change to the color you desire */
}

body>main{
	background-color: var(--black1);
}

.oval-lblue {
    /* display: inline-block; */
	width: auto;
    padding: 10px 20px;
    border-radius: 50%;
    background-color: var(--lblue);
    text-align: center;
}
.oval-lblue>* {
    margin: 0;
}

.demo{
	min-height: 200px;
}


body>footer{
	background-color: var(--black);
}

.curved-bottom {
	padding-top: 150px;
    position: relative;
    overflow: hidden;
}

.curved-bottom::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: var(--black1);
}