{% set page = "home" %}
{% extends '0Base.html' %} 
{% block head %} 
	<link rel="stylesheet" href="./static/css/index.css">
{% endblock %}
{% block title %} Universal Data Hub {% endblock %}
{% block body %}
<header class="container-fluid curved-top">
	<div class="row justify-content-center">
		<div class="col-lg-4 col-md-4 py-5" id="header-text">
			<h1>Data Collection System</h1>
			<p class="mt-3">Have a centralized data collection system made for any purpose u need. Connect
				using API to get easy access to free data with no limitations.</p>
		</div>
		<div class="col-xl-6 col-lg-6 col-md-8" id="header-img">
		</div>
	</div>
</header>
<main class="container-fluid pb-5">
	<header class="container">
		<div class="row mb-4 justify-content-center">
			<div class="oval-lblue">
				<h5>8 demos</h5>
			</div>
		</div>
		<div class="row pb-5 text-center">
			<div class="col">
					<h4>Simple Implementations</h4>
					<p>Explore numerous implementations of this data collection system.</p>
			</div>
		</div>
	</header>
	<main class="container">
		<div class="row p-4">
			<div class="col-md-6 col-sm-12">
				<a class="no-ul" href="./examples/nameGenerator">
					<div class="card bg-dark text-white demo">
						<div class="card-body row">
							<div class="col-lg-4 col-md-12">
								<img src="./static/img/namegen.jpeg" alt="name gen icon" class="img-fluid"/>
							</div>
							<div class="col-lg-7 col-md-12">
								<h5 class="card-title">Name Generator</h5>
							<p class="card-text">It uses the records of names provided by the data collection system to randomly select and generate a name. This can be enhance using machine learning to create new names using AI.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a class="no-ul" href="./examples/nameGenerator">
					<div class="card bg-dark text-white demo">
						<div class="card-body row">
							<div class="col-lg-4 col-md-12">
								<img src="./static/img/humandensity.jpeg" alt="name gen icon" class="img-fluid"/>
							</div>
							<div class="col-lg-7 col-md-12">
								<h5 class="card-title">Human Density Tracker</h5>
							<p class="card-text">It uses the records of address provided by the data collection system to keep track of how many people live in a location. This can be enhance using heatmap.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row p-4">
			<div class="col-md-6 col-sm-12">
				<a class="no-ul" href="./examples/nameGenerator">
					<div class="card bg-dark text-white demo">
						<div class="card-body row">
							<div class="col-lg-4 col-md-12">
								<img src="./static/img/namegen.jpeg" alt="name gen icon" class="img-fluid"/>
							</div>
							<div class="col-md-7">
								<h5 class="card-title">Name Generator</h5>
							<p class="card-text">It uses the records of names provided by the data collection system to randomly select and generate a name. This can be enhance using machine learning to create new names using AI.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a class="no-ul" href="./examples/nameGenerator">
					<div class="card bg-dark text-white demo">
						<div class="card-body row">
							<div class="col-lg-4 col-md-12">
								<img src="./static/img/humandensity.jpeg" alt="name gen icon" class="img-fluid"/>
							</div>
							<div class="col-md-7">
								<h5 class="card-title">Human Density Tracker</h5>
							<p class="card-text">It uses the records of address provided by the data collection system to keep track of how many people live in a location. This can be enhance using heatmap.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row p-4">
			<div class="col-md-6 col-sm-12">
				<a class="no-ul" href="./examples/nameGenerator">
					<div class="card bg-dark text-white demo">
						<div class="card-body row">
							<div class="col-lg-4 col-md-12">
								<img src="./static/img/namegen.jpeg" alt="name gen icon" class="img-fluid"/>
							</div>
							<div class="col-lg-7 col-md-12">
								<h5 class="card-title">Name Generator</h5>
							<p class="card-text">It uses the records of names provided by the data collection system to randomly select and generate a name. This can be enhance using machine learning to create new names using AI.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a class="no-ul" href="./examples/nameGenerator">
					<div class="card bg-dark text-white demo">
						<div class="card-body row">
							<div class="col-lg-4 col-md-12">
								<img src="./static/img/humandensity.jpeg" alt="name gen icon" class="img-fluid"/>
							</div>
							<div class="col-lg-7 col-md-12">
								<h5 class="card-title">Human Density Tracker</h5>
							<p class="card-text">It uses the records of address provided by the data collection system to keep track of how many people live in a location. This can be enhance using heatmap.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row p-4">
			<div class="col-md-6 col-sm-12">
				<a class="no-ul" href="./examples/nameGenerator">
					<div class="card bg-dark text-white demo">
						<div class="card-body row">
							<div class="col-lg-4 col-md-12">
								<img src="./static/img/namegen.jpeg" alt="name gen icon" class="img-fluid"/>
							</div>
							<div class="col-lg-7 col-md-12">
								<h5 class="card-title">Name Generator</h5>
							<p class="card-text">It uses the records of names provided by the data collection system to randomly select and generate a name. This can be enhance using machine learning to create new names using AI.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a class="no-ul" href="./examples/nameGenerator">
					<div class="card bg-dark text-white demo">
						<div class="card-body row">
							<div class="col-lg-4 col-md-12">
								<img src="./static/img/humandensity.jpeg" alt="name gen icon" class="img-fluid"/>
							</div>
							<div class="col-lg-7 col-md-12">
								<h5 class="card-title">Human Density Tracker</h5>
							<p class="card-text">It uses the records of address provided by the data collection system to keep track of how many people live in a location. This can be enhance using heatmap.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</main>
	<footer class="container py-5">
		<div class="row py-5 text-center">
			<div class="col">
					<h3>Used By Thousands of Institutions</h3>
					<p>With a simple and documented API for achiving numerous data.</p>
					<p>Made for Individuals and Institutions</p>
			</div>
		</div>
		<div class="row text-center">
			<div class="col">
				<h1><b>10k+</b></h1>
				<h4>Institutions</h4>
				<p>Providing paid services with usage of 1k+ requests per hour. Free 100 requests per hour for new and small business.</p>
			</div>
			<div class="col">
				<h1><b>10M+</b></h1>
				<h4>Users</h4>
				<p>Consisting 70% Active Users. 50% comming from active API service usage.</p>
			</div>
			<div class="col">
				<h1><b>1B+</b></h1>
				<h4>Records</h4>
				<p>Spam filtered and no invalid entries. Average 60% forms filled by users.</p>
			</div>
		</div>
	</footer>
</main>
<footer class="container-fluid curved-bottom">
	<main class="container">
		<div class="row py-5 text-center">
			<div class="col">
					<h3>Data Collection System</h3>
					<p>Made easy</p>
					<div class="social-icons">
						<a href="#" class="social-icon p-2"><i class="fab fa-linkedin"></i></a>
						<a href="#" class="social-icon p-2"><i class="fab fa-twitter"></i></a>
						<a href="#" class="social-icon p-2"><i class="fab fa-github"></i></a>
						<a href="#" class="social-icon p-2"><i class="fab fa-discord"></i></a>
					</div>
			</div>
			<div class="col">
					<h3>Technical</h3>
					<p><a class="no-ul" href="./documentation">Documentation</a></p>
					<p><a class="no-ul" href="./changelog">Changelog</a></p>
			</div>
			<div class="col">
					<h3>LEGAL</h3>
					<p><a class="no-ul" href="./policy">Privacy Policy</a></p>
					<p><a class="no-ul" href="./tos">Terms of Service</a></p>
					<p><a class="no-ul" href="./license">License</a></p>
			</div>
		</div>
	</main>
</footer>
{% endblock %} 
{% block foot %}
{% endblock %}