{% extends '0Base.html' %} 
{% block head %} {% endblock %} 
{% block title %} QNA {% endblock %} 
{% block navBar %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark border-bottom border-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Index</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <form class="d-flex my-auto">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav> 
<div style="height:2em;"></div>
{% endblock %} 
{% block body %}
<div class="container mt-5 border border-secondary rounded-3 shadow-lg">
    <div class="row py-3 border-bottom border-light">
        <h2 id="qna-title">The question title</h2>
    </div>
    <div class="row py-1">
        <p id="qna-detail">the question details </p>
    </div>
</div>
<div class="container mt-5 border border-secondary rounded-3 shadow-lg">
    <div class="row py-3 border-bottom border-light">
        <h2 id="qna-title">Answers</h2>
    </div>
    <div class="container my-2 border border-secondary rounded-3 shadow-lg">
        <div class="row py-3 border-bottom border-light">
            <h4 class="username">user23</h4>
        </div>
        <div class="row py-1">
            <p class="answer">The answers </p>
        </div>
    </div>
    <div class="container my-2 border border-secondary rounded-3 shadow-lg">
        <div class="row py-3 border-bottom border-light">
            <h4 class="username">user24</h4>
        </div>
        <div class="row py-1">
            <p class="answer">The answer is this </p>
        </div>
    </div>
</div>

{% endblock %} 
{% block foot %} {% endblock %}