{% set page = "myProfile" %}
{% extends '0Base.html' %} 
{% block title %} My Profile|{{userTag}} {% endblock %}
{% block body %}
<div class="container mt-5">
    <h3>@{{userTag}}</h3>
    <script>
        var hidden = true;
        function toggleKey() {
            var userKeyInput = document.getElementById("userKey");
            var showKeyButton = document.getElementById("toggleButton");
            if (hidden) {
                userKeyInput.type = "text";
                showKeyButton.textContent = "Hide Key";
            } else {
                userKeyInput.type = "password";
                showKeyButton.textContent = "Show Key";
            }
            hidden = !hidden;
        }
    </script>
    <label for="userKey">User API Key</label>
    <input type="password" id="userKey" value="{{userKey}}">
    <button id="toggleButton" onclick="toggleKey()">Show Key</button>
    <a href="./myProfile/newKey"><button>New Key</button></a>
    {% for category,fields in categoriesAndFields.items() %}
        <div class="row">
            <h3>{{category}}</h3>
            <form action="./myProfile/{{category}}/add" method="post">
            {% for field, (fieldId,defaultPrivacy) in fields.items() %}
                <label for="{{category}}-{{field}}">{{field}}</label>
                    {% if userData[fieldId] %}
                        <input type="text" id="{{category}}-{{field}}" name="{{field}}" value="{% if userData[fieldId][0] %}{{userData[fieldId][0]}}{% endif %}">
                        <input type="radio" name="{{field}}p" value="0" {% if userData[fieldId][1] == 0 %} checked {% endif %}> Public
                        <input type="radio" name="{{field}}p" value="1" {% if userData[fieldId][1] == 1 %} checked {% endif %}> Private
                        <input type="radio" name="{{field}}p" value="2" {% if userData[fieldId][1] == 2 %} checked {% endif %}> Anonymous
                    {% else %}
                        <input type="text" id="{{category}}-{{field}}" name="{{field}}">
                        <input type="radio" name="{{field}}p" value="0" {% if defaultPrivacy == 0 %} checked {% endif %}> Public
                        <input type="radio" name="{{field}}p" value="1" {% if defaultPrivacy == 1 %} checked {% endif %}> Private
                        <input type="radio" name="{{field}}p" value="2" {% if defaultPrivacy == 2 %} checked {% endif %}> Anonymous
                    {% endif %}
                    <br>
                {% endfor %}
                <button type="submit">Save</button>
            </form>
        </div>
    {% endfor %}

</div>
{% endblock %}