{% set page = "myProfile" %}
{% extends '0Base.html' %} 
{% block head %} 
<link rel="stylesheet" href="../static/css/myProfile.css">
{% endblock %}
{% block title %} My Profile {% endblock %} 
{% block body %}
<main>
	<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav class="col-md-2 d-none d-md-block sidebar py-4" id="sidebar">
        <h4 class="sidebar-sticky">
          <ul class="nav flex-column">
						<a class="nav-link {%if subpage=='home'%}active" aria-current="page{%endif%}" href="./home"><i class="fas fa-home"></i>Home</a>
						{% for category in categories %}
							<a class="nav-link {%if subpage==category%} active" aria-current="page{%endif%}" href="./{{category}}">{{category}}</a>
						{% endfor %}
          </ul>
        </h4>
      </nav>

      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="main">
        {% block main %}
          <div class="container py-5">
						<h3>@{{userTag}}</h3>
						<script>
								var hidden = true;
								function toggleKey() {
										var userKeyInput = document.getElementById("userKey");
										var showKeyButton = document.getElementById("toggleButton");
										if (hidden) {
												userKeyInput.type = "text";
												showKeyButton.textContent = "Hide Key";
										} else {
												userKeyInput.type = "password";
												showKeyButton.textContent = "Show Key";
										}
										hidden = !hidden;
								}
						</script>
						<label for="userKey">User API Key</label>
						<input type="password" id="userKey" value="{{userKey}}">
						<button id="toggleButton" onclick="toggleKey()">Show Key</button>
						<a href="./newKey"><button>New Key</button></a>
					</div>
        {% endblock %}
      </main>
    </div>
  </div>
</main>
{% endblock %} 