{% extends 'user/myProfile.html' %} 
{% block subpage %} {% set subpage = "request" %} {% endblock %} 
{% block main %}
	<div class="container py-5">
		<form action="./request" method="post">
			<div class="row justify-content-around">
				{% for category, fieldValues in categoriesAndFields.items() %}
					<div class="col-md-6 col-sm-12 p-2">
						<h3 class="pb-3"><input type="checkbox" name="category" value="{{category}}">&nbsp;&nbsp;{{category}}</input></h3>
						{% for field, (fieldId,defaultPrivacy) in fieldValues.items() %}
							<label class="px-3 d-block" for="{{fieldId}}"><input type="checkbox" name="field" value="{{fieldId}}" id="{{fieldId}}">&nbsp;&nbsp;&nbsp;{{field}}</label>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
			<button class="m-4" type="submit">Generate</button>
		</form>
	</div>
{% endblock %}