{% set page = "search" %}
{% extends '0Base.html' %} 
{% block title %} FAQ {% endblock %} 
{% block body %}
<div class="container mt-5">
    <div class="row">
        <form action="./search" method="get">
            <label for="find-name">Name</label>
            <input type="text" id="find-name" name="q">
            <button type="submit">Search</button>
        </form>
    </div>
    {% for user in users %}
        <div class="row">
            {{user[0]}}
        </div>
    {% endfor %}
</div>
{% endblock %}