{% extends 'user/myProfile.html' %} 
{% block subpage %} {% set subpage = "shared" %} {% endblock %} 
{% block main %}
	<div class="container py-5">
		{% for (receiverId,receiver), categoriesAndFields in shared.items() %}
			<h2>
				<a href="./shared/rmUser?receiverId={{receiverId}}">
					<i class="fas fa-trash-alt"></i>
				</a>{{receiver}}
			</h2>
			{% for category, fieldValues in categoriesAndFields.items() %}
			<div class="col-md-6 col-sm-12 p-2">
				<h3 class="pb-3">{{category}}</h3>
				{% for (field, fieldId) in fieldValues %}
					<p class="px-3">
						<a href="./shared/remove?receiverId={{receiverId}}&dataIds={{fieldId}}">
							<i class="fas fa-trash-alt"></i>
						</a>{{field}}
					</p>
				{% endfor %}
			</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}